img {
  width: 100%;
  height: auto;
}

table th:nth-child(1), table td:nth-child(1) {
  width: 5vw;
  height: auto;
}

table th:nth-child(2), table td:nth-child(2) {
  width: 20vw;
  height: auto;
}

table th:nth-child(3), table td:nth-child(3) {
  width: 50vw;
  height: auto;
}

table th:nth-child(4), table td:nth-child(4) {
  width: 10vw;
  height: auto;
}

table th:nth-child(5), table td:nth-child(5) {
  width: 5vw;
  height: auto;
}

table th:nth-child(6), table td:nth-child(6) {
  width: 5vw;
  height: auto;
}